.container{
    width: 72%;
    min-height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    top: -160px;
}
.container p{
    margin: 0%;
}
.title-testimonial{
    font-family: 'Gilroy', 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: #405e96;
}
.text{
    font-size: 50px;
    animation: 2s anim-lineLeft ease-in-out 1;
}
@keyframes anim-lineLeft {
    0% {
        opacity: 0;
        transform: translateX(80%);
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateX(0%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}


.arrow-btn{
    width: 26px;
    height: 18px;
    color: black;
    cursor: pointer;
}
.name{
    width: 120px;
    height: 45px;
    position: absolute;
    float: right;
    bottom: 0px;
    right: 0px;
    animation: 2s anim-lineLeft ease-in-out 1;
}

@media screen and (max-width: 992px){
    .container{
        width: 90%;
        height: 400px;
    }
}

@media screen and (max-width: 600px){
    .container{
        width: 100%;
        height: 500px;
    }
}