@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Open+Sans:wght@400;500;700&display=swap');
@font-face {
    font-family: "Gilroy";   /*Can be any text*/
    src: local("Gilroy"),
      url("./assets/fonts/Gilroy.ttf") format("truetype");
  }

.App {
  text-align: center;
  font-family: "Cormorant Garamond";
  background-color: #fcf2de;
  max-width: 1600px;
  overflow: hidden;
}
a{
    text-decoration: none;
}


